table {
    border-collapse: collapse;
}

td, th {
    padding: 0.25rem 0.5rem;
    border: 1px solid;
}

th {
    background-color: #aaa;
}

button {
    padding: 1rem;
}

.labelBlock {
    width: 10rem;
    float: left;
    display: block;
}

.inputBlock {
    padding: 0.5rem;
    display: block;
}

